# {{ ansible_managed }}

[Unit]
Description="Update chezmoi"

[Service]
Type=oneshot
ExecStart=/usr/bin/chezmoi upgrade
User=root

[Install]
WantedBy=multi-user.target
